<!DOCTYPE html>
<html lang="en">

<head>
  <title>passwordb | accounts</title>
  <%- include('partials/_head') %>
  <link rel="stylesheet" href="/styles/accounts.css" type="text/css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
  <%- include('partials/_header') %>

    <h3 id="pageTitle">My Passwords</h3>

    <% for(let account of accounts) { %>
      <div class="icon-box">
        <% if (account.category === 'Social') { %>
          <i class="fas fa-people-arrows"></i>
        <% } else if (account.category === 'Work') { %>
          <i class="fas fa-briefcase"></i>
        <% } else if (account.category === 'Entertainment') { %>
          <i class="fas fa-theater-masks"></i>
        <% } else if (account.category === 'Health') { %>
          <i class="fas fa-walking"></i>
        <% } %>
          <h5 class="password-category"><%= account.category %></h5>
      </div>
      <table>
        <tbody>
          <div class="<%= (account.category).toLowerCase(); %>">
            <div class="outer-box">
              <div id="box-1" class="boxed">
                <div class="url">
                  <a href="<%= account.website_url %>" style="color: #3A6B7E;font-weight: bolder;"><%= account.website_name %></a>
                </div>
                <div class="login">
                  <%= account.login %>
                </div>
                <div class="password">
                  <%= account.password %>
                </div>

                <div class="icons">
                  <div>
                    <div class="copy-button">
                      <span id="copyButtonAcc" class="input-group-addon btn" title="Click to copy">
                      <i class="fas fa-copy" aria-hidden="true"></i>
                    </div>
                  </div>


                  <div class="edit-button">
                    <span id="editButton" class="input-group-addon btn" title="Click to edit">
                    <a href="/api/accounts/<%= account.id %>" style="color: black;"> <i class="fas fa-edit"></i></a>
                  </div>


                   <!-- <form action="/api/accounts/<%= account.id %>/delete" method="POST">
                  <div class="delete-button">
                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                  </div> -->
                  <div class="delete-button">
                  <form action="/api/accounts/<%= account.id %>/delete" method="POST">
                      <span id="deleteButton" class="input-group-addon btn" title="Click to delete">
                      <button class="btn"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </div>
                </div>
              </div>
            </div>
        </tbody>
      </table>
    <% } %>

  <!-- Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->

</body>

</html>
