<!DOCTYPE html>
<html lang="en">

<head>
  <title>passwordb | accounts</title>
  <%- include('partials/_head') %>
  <link rel="stylesheet" href="/styles/accounts.css" type="text/css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <%- include('partials/_header') %>

  <!-- <table>
    <tbody> -->

      <h3 id="pageTitle">My Passwords</h3>

      <div class="icon-box">
        <i class="fas fa-people-arrows"></i>
        <h5 class="password-category">Social</h5>
      </div>

      <div class="social">
        <div class="outer-box">
          <div id="box-1" class="boxed">
            <div class="url">
              <a href="http://www.facebook.com" style="color: #3A6B7E;font-weight: bolder;">www.facebook.com</a>
            </div>

            <div class="web-name">
              Facebook
            </div>

            <div class="password">
              e2o76a4!
            </div>

            <div class="icons">
              <div class="copy-button">
                <i class="fas fa-clone"></i>
              </div>

              <div class="edit-button">
                <% for(let account of accounts) { %>
                <a href="/api/accounts/<%= account.id %>"><i class="fas fa-edit"></i></a>
                <% } %>
              </div>

              <div class="delete-button">
                <i class="fas fa-trash-alt"></i>
              </div>
            </div>
          </div>


          <div>
            <div id="box-2" class="boxed">
              <div class="url">
                <a href="http://www.slack.com" style="color: #3A6B7E;font-weight: bolder;">www.slack.com</a>
              </div>

              <div class="web-name">
                Slack
              </div>

              <div class="password">
                Z63f57!
              </div>

              <div class="icons">
                <div class="copy-button">
                  <i class="fas fa-clone"></i>
                </div>

                <div class="edit-button">
                  <i class="fas fa-edit"></i>
                </div>

                <div class=delete-button>
                  <i class="fas fa-trash-alt"></i>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    <div class="icon-box">
      <i class="fas fa-briefcase"></i>
      <h5 class="password-category">Work</h5>
    </div>

      <div class="work">
          <div class="outer-box">
            <div id="box-3" class="boxed">
              <div class="url">
                <a href="https://flex-web.compass.lighthouselabs.ca/" style="color: #3A6B7E;font-weight: bolder;">www.compass.com</a>
              </div>

              <div class="web-name">
                Compass
              </div>

              <div class="password">
                e2o76a4!
              </div>

              <div class="icons">
                <div class="copy-button">
                  <i class="fas fa-clone"></i>
                </div>

                <div class="edit-button">
                  <i class="fas fa-edit"></i>
                </div>

                <div class=delete-button>
                  <i class="fas fa-trash-alt"></i>
                </div>
              </div>
            </div>
          </div>
      </div>

      <!-- =======
      <% for(let account of accounts) { %>
        <tr>
          <td><%= account.website_name %></td>
          <td><%= account.website_url %></td>
          <td><%= account.login %></td>
          <td><%= account.password %></td>
          </tr>
      <% } %>
      >>>>>>> 1b34c1d82ab78998b358ad7a7134689fb8f7e92f -->

    <!-- </tbody>
  </table> -->

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>
